@import "./variables/typography";
@import "./mixins/typography";
@import "MainNav";
@import "MainHeader";
@import "Home";
@import "mobile";
* {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}