.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .topSide {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: #fff;
            font-size: 55px;
        }
    }
    .bottomSide {
        width: 70%;
        height: auto;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .btLeftSide {
            background-color: #fff;
            height: 15vh;
            width: 100%;
            border: 2px solid blue;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .subLeft {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .subLeftTop {
                    border-right: 1px solid #4D1936;
                    h5 {
                        font-size: 23px;
                        padding-right: 10px;
                        font-weight: 500;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        color: #4d1936;
                    }
                }
                .subLeftBottom p {
                    font-size: 13px;
                    color: #4d1936;
                    font-weight: 600;
                }
                h5,
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            .subRight {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                p {
                    font-size: 18px;
                    color: #4d1936;
                    padding-left: 10px;
                    margin-bottom: 15px;
                }
            }
        }
        .btRightSide {
            background-color: #fff;
            height: 15vh;
            width: 100%;
            border: 2px solid blue;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            #leftSide {
                display: flex;
                flex: 20%;
                img {
                    margin-left: 20px;
                    width: 10vw;
                }
            }
            #rightSide {
                display: flex;
                flex: 80%;
                justify-content: center;
                align-items: center;
                h2 {
                    color: #fff;
                    font-size: 2.3vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }
}

@media only screen and (min-width: 1150px) {
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftTop h5 {
        font-size: 20px;
    }
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftBottom p {
        font-size: 12px;
    }
    .mainHeader .bottomSide .btLeftSide .subRight p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1150px) {
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftTop h5 {
        font-size: 20px;
    }
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftBottom p {
        font-size: 12px;
    }
    .mainHeader .bottomSide .btLeftSide .subRight p {
        font-size: 15px;
    }
    .mainHeader .topSide h1 {
        font-size: 50px;
    }
    .mainHeader .bottomSide .btLeftSide {
        height: 14vh;
    }
    .mainHeader .bottomSide .btRightSide {
        height: 14vh;
    }
}

@media only screen and (max-width: 950px) {
    .mainHeader .bottomSide .btRightSide #rightSide h2 {
        color: #fff;
        font-size: 2vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .mainHeader .bottomSide .btLeftSide {
        height: 13.5vh;
    }
    .mainHeader .bottomSide .btRightSide {
        height: 13.5vh;
    }
}

@media only screen and (max-width: 800px) {
    .mainHeader .bottomSide .btLeftSide .subRight p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px) {
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftTop h5 {
        font-size: 18px;
    }
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftBottom p {
        font-size: 10px;
    }
    .mainHeader .bottomSide .btLeftSide .subRight p {
        font-size: 12px;
    }
    .mainHeader .topSide h1 {
        font-size: 40px;
    }
    .mainHeader .bottomSide .btLeftSide {
        height: 13vh;
    }
    .mainHeader .bottomSide .btRightSide {
        height: 13vh;
    }
}

@media only screen and (max-width: 650px) {
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftTop h5 {
        font-size: 15px;
    }
    .mainHeader .bottomSide .btLeftSide .subLeft .subLeftBottom p {
        font-size: 9px;
    }
    .mainHeader .bottomSide .btLeftSide .subRight p {
        font-size: 11px;
        padding: 5px;
    }
    .mainHeader .topSide h1 {
        font-size: 38px;
    }
    .mainHeader .bottomSide .btLeftSide {
        height: 12vh;
    }
    .mainHeader .bottomSide .btRightSide {
        height: 12vh;
    }
}

@media screen and (max-width: 600px) {
    .mainHeader {
        .topSide {
            width: 100%;
            h1 {
                font-size: 7vw;
            }
        }
        .bottomSide {
            width: 100%;
            .btLeftSide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60%;
                margin: auto;
                height: 17vw;
                .subLeft {
                    .subLeftTop h5 {
                        font-size: 4vw;
                    }
                    .subLeftBottom p {
                        font-size: 2.5vw;
                    }
                }
                .subRight p {
                    font-size: 3vw;
                    padding-left: 5vw;
                }
            }
            .btRightSide {
                width: 95%;
                margin: auto;
                height: 17vw;
                #leftSide img {
                    margin-left: 15px;
                    width: 17vw;
                }
                #rightSide h2 {
                    font-size: 4.5vw;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .mainHeader .bottomSide .btLeftSide {
        overflow: auto;
    }
    .mainHeader .bottomSide .btRightSide {
        overflow: hidden;
    }
}