$primary-color: #fff;
$title-bg-color: #4d1936;
$mainNav-bg-color: #021e39;
$homeSideBar-ItemHoverColor: gray;
$mainNav-font-family: Arial,
Helvetica,
sans-serif;
$mainHeader-font-family-1: "Trebuchet MS",
"Lucida Sans Unicode",
"Lucida Grande",
"Lucida Sans",
Arial,
sans-serif;
$mainHeader-font-family-2: "Segoe UI",
Tahoma,
Geneva,
Verdana,
sans-serif;
$homeSideBar-font-family: "Lucida Sans",
"Lucida Sans Regular",
"Lucida Grande",
"Lucida Sans Unicode",
Geneva,
Verdana,
sans-serif;
$primaryBorderColor: #0f4791;
$borderRadius-1: 5px;
$borderRadius-2: 3px;
$mainBodyItemBorderRadius: 10px;
$mainBodyItem-bg-color: #e5d9b3;
//Font-Weight
$FontWeight-1: 500;
$FontWeight-2: 600;
$FontWeight-3: 700;
//MainNav Font Size
$mainNav-fontSize-1450Screen: 16px;
$mainNav-fontSize-1150Screen: 15px;
$mainNav-fontSize-950Screen: 14px;
$mainNav-fontSize-850Screen: 14px;
$mainNav-fontSize-768Screen: 12px;
$mainNav-fontSize-650Screen: 11px;
$mainNav-proMenuTitle-fontSize: 10px;
//MainNav Margins
$mainNav-marginRight-FullScreen: 40px;
$mainNav-marginRight-1450Screen: 10px;
$mainNav-marginRight-850Screen: 7px;
$mainNav-marginRight-768Screen: 5px;
$mainNav-marginRight-650Screen: 2px;
$mainNav-linksFirstItem-marginTop: 100px;
//MainNav Profile Image height
$mainNav-proImgHeight-950Screen: 35px;
$mainNav-proImgHeight-850Screen: 30px;